{% extends 'news/base.html' %}
{% block titleBlock %}
    首页-新经资讯
{% endblock %}
{% block jsBlock %}index.js{% endblock %}
{% block categoryBlock %}
    {% for category in data.category_list %}
    <li class="{% if loop.index0 == 0 %}active{% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
    {% endfor %}
{% endblock %}
{% block contentBlock %}
    <ul class="list_con fl">
        </ul>
{% endblock %}
{% block rankBlock %}
    <div class="rank_con fr">
        <div class="rank_title">
            <h3>点击排行</h3>
        </div>
        <ul class="rank_list">
            {% for new in data.news_rank %}
                <li><span class="{{ loop.index | rank_filter }}">{{ loop.index }}</span><a href="/{{ new.id }}">{{ new.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}