<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="news_list">
        <h3>新闻列表</h3>
        <ul class="article_list">
            {% for new in data.news_list %}
                <li><a href="{% if new.status == 0 %}/{{ new.id }}{% else %}javascript:{% endif %}">{{ new.title }}</a><em class="{{ new.status | status_filter }}">{% if new.status == 0 %}已通过{% elif new.status == 1 %}审核中{% else %}审核未通过{% endif %}</em><span>{{ new.create_time }}</span>{% if new.status == -1 %}<b>未通过原因：{{ new.reason }}</b>{% endif %}</li>
            {% endfor %}
        </ul>
        <div id="pagination" class="page"></div>
        <script>
            // 调用父页面的方法改变菜单指示
            // window.parent.fnChangeMenu(2);

            $(function(){
                $("#pagination").pagination({
                    currentPage: {{ data.current_page }},
                    totalPage: {{ data.total_page }},
                    callback: function(current) {
                        window.location.href = '/user_news_list?p=' + current
                    }
                });
            });
        </script>
       
    </div>
</body>
</html>